/*
Theme Name: Redbox Média - Thème Personnalisé
Theme URI: http://redboxmedia.ca/
Description: Ceci est un thème personnalisé créé par Redbox Média
Author: Redbox Média
Author URI: http://redboxmedia.ca/
Template: salient
Version: 1
*/



/* gravity forms */

.gform_fields{
	margin:0 -5px;
	list-style:none;
}

.gform_fields li{
	padding:0 5px;
	list-style: none !important;
	float:left;
	box-sizing: border-box;
}

.gform_fields:after{
	content: ' ';
	display:block;
	clear:both;
}

.col-gf-1  { width:   8%; }
.col-gf-2  { width:  16%; }
.col-gf-3  { width:  25%; }
.col-gf-4  { width:  33%; }
.col-gf-5  { width:  41%; }
.col-gf-6  { width:  50%; }
.col-gf-7  { width:  58%; }
.col-gf-8  { width:  66%; }
.col-gf-9  { width:  75%; }
.col-gf-10 { width:  83%; }
.col-gf-11 { width:  91%; }
.col-gf-12 { width: 100%; }

.validation_error{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.gform_confirmation_message{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

/* easy responsive */

@media(max-width:992px){ .visible-lg{display:none;} }
@media(min-width:992px){ .hidden-lg{display:none;} }

@media(max-width:992px) and (min-width:768px){ .hidden-md{display:none !important;} }
@media(min-width:992px){ .visible-md{display:none !important;} }
@media(max-width:768px){ .visible-md{display:none !important;} }

@media(max-width:768px) and (min-width:480px){ .hidden-sm{display:none !important;} }
@media(min-width:768px){ .visible-sm{display:none !important;} }
@media(max-width:480px){ .visible-sm{display:none !important;} }

@media(min-width:480px){ .visible-xs{display:none;} }
@media(max-width:480px){ .hidden-xs{display:none;} }

.row-flex{
	margin:0 -10px;
}

.row-flex.row-gutter-40{
	margin:0 -40px;
}

.row-flex.row-gutter-60{
	margin:0 -60px;
}

.row-flex:after{
	content:' ';
	display:block;
	clear:both;
}

.row-flex *[class*="span-flex"]{
	padding:0 10px;
}

.row-flex.row-gutter-40 *[class*="span-flex"]{
	padding:0 40px;
}

.row-flex.row-gutter-60 *[class*="span-flex"]{
	padding:0 60px;
}

.span-flex-lg-1, .span-flex-md-1, .span-flex-sm-1, .span-flex-xs-1  	{ width:   8%; margin:0; }
.span-flex-lg-2, .span-flex-md-2, .span-flex-sm-2, .span-flex-xs-2  	{ width:  16%; margin:0; }
.span-flex-lg-3, .span-flex-md-3, .span-flex-sm-3, .span-flex-xs-3  	{ width:  25%; margin:0; }
.span-flex-lg-4, .span-flex-md-4, .span-flex-sm-4, .span-flex-xs-4  	{ width:  33%; margin:0; }
.span-flex-lg-5, .span-flex-md-5, .span-flex-sm-5, .span-flex-xs-5  	{ width:  41%; margin:0; }
.span-flex-lg-6, .span-flex-md-6, .span-flex-sm-6, .span-flex-xs-6  	{ width:  50%; margin:0; }
.span-flex-lg-7, .span-flex-md-7, .span-flex-sm-7, .span-flex-xs-7  	{ width:  58%; margin:0; }
.span-flex-lg-8, .span-flex-md-8, .span-flex-sm-8, .span-flex-xs-8  	{ width:  66%; margin:0; }
.span-flex-lg-9, .span-flex-md-9, .span-flex-sm-9, .span-flex-xs-9  	{ width:  75%; margin:0; }
.span-flex-lg-10, .span-flex-md-10, .span-flex-sm-10, .span-flex-xs-10 	{ width:  83%; margin:0; }
.span-flex-lg-11, .span-flex-md-11, .span-flex-sm-11, .span-flex-xs-11 	{ width:  91%; margin:0; }
.span-flex-lg-12, .span-flex-md-12, .span-flex-sm-12, .span-flex-xs-12 	{ width: 100%; margin:0; }

@media (max-width:992px){
	.span-flex-lg-1, .span-flex-lg-2, .span-flex-lg-3, .span-flex-lg-4, .span-flex-lg-5, .span-flex-lg-6, .span-flex-lg-7, .span-flex-lg-8, .span-flex-lg-9, .span-flex-lg-10, .span-flex-lg-11, .span-flex-lg-12{
		width:100%;
	}
}

@media (max-width:768px){
	.span-flex-md-1, .span-flex-md-2, .span-flex-md-3, .span-flex-md-4, .span-flex-md-5, .span-flex-md-6, .span-flex-md-7, .span-flex-md-8, .span-flex-md-9, .span-flex-md-10, .span-flex-md-11, .span-flex-md-12{
		width:100%;
	}
}

@media (max-width:480px){
	.span-flex-sm-1, .span-flex-sm-2, .span-flex-sm-3, .span-flex-sm-4, .span-flex-sm-5, .span-flex-sm-6, .span-flex-sm-7, .span-flex-sm-8, .span-flex-sm-9, .span-flex-sm-10, .span-flex-sm-11, .span-flex-sm-12{
		width:100%;
	}
}
@media only screen and (min-width: 1000px) {
	body .container, 
	body .woocommerce-tabs .full-width-content .tab-container, 
	body .nectar-recent-posts-slider .flickity-page-dots {
	    max-width: 1180px;
	    width: 100%;
	    margin: 0 auto;
	    padding: 0 20px;
	}
}
h1, .faux-h1 {
	font-size: 90px;
	color: #4A4A4A;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 5.6px;
	display: block;
}
h2, h3 {
	font-family: 'Oswald', sans-serif;
}
h4 {
	font-family: 'Catamaran', sans-serif;
}
body input:disabled, 
body textarea:disabled {
	opacity: 1;
}
body.ascend {
	color: #4A4A4A;
	background: #fff;
	font-family: 'Oswald', sans-serif;
	font-family: 'Catamaran', sans-serif;
	font-weight: 200;
	font-size: 15px;
	line-height: 1.4 !important;
}
body p {
	padding-bottom: 0;
	margin-bottom: .8em;
}
img {
	max-width: 100%;
}
body .container-wrap, 
body .project-title {
	margin-top: 0;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
body input[type=text], 
body textarea, 
body input[type=email], 
body input[type=password], 
body input[type=tel], 
body input[type=url], 
body input[type=search], 
body input[type=date],
body select {
	font-family: 'Catamaran', sans-serif;
	font-size: 15px;
	line-height: 1.4;
	color: #4A4A4A;
	border-radius: 0;
	-webkit-appearance: none;

}
body.ascend .container-wrap {
	background: transparent;
}
body.ascend.home .container-wrap {
	background: transparent !important;
}


/**** header ****/
html body #header-outer {
	    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
}
body #header-outer #logo img {
	height: auto !important;
	max-width: 100%
}
#header-space {
	display: none;
}

body #header-outer {
	padding-top: 32px !important;
	padding-bottom: 15px;
}
body #header-outer.stick {
	background: rgba(255,255,255,.8);
	padding-top: 15px !important;
}
body #header-outer.stick .row .col.span_9 {
	padding-top: 10px;
}
.stick header#top #logo {
	max-width: 200px;
}
body header#top nav ul li a {
	color: #4A4A4A;
}
body header#top nav > ul > li {
	padding: 0 14px !important;
}
body header#top nav > ul > li:last-of-type {
	padding-right: 0 !important;
}
body header#top nav > ul > li:first-child {
	padding-left: 0 !important;
}
body header#top nav > ul > li > a {
	padding: 6px 5px 4px !important;
	font-size: 20px;
}
header#top nav .btn_compte a,
header#top nav .btn_connect a {
	background: #8FB23E;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #8FB23E !important;
	padding: 6px 17px 4px !important;
	font-size: 15px;
}
body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.btn_compte:hover a ,
body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.btn_connect:hover a  {
	background: transparent !important;
	color: #8FB23E !important;
}
header#top nav .btn_cours a,
header#top nav .btn_suscribe a {
	background: #172672;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #172672 !important;
	padding: 6px 17px 4px !important;
	font-size: 15px;
}
body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.btn_cours:hover a ,
body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.btn_suscribe:hover a  {
	background: transparent !important;
	color: #172672 !important;

}
body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current-menu-item > a,
body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li:hover > a {
	color: #4A4A4A !important;
	border-bottom: 1px solid #000; 
}
body #header-outer .row .col.span_9 {
	padding-top: 22px;
}
header#top nav .cart-outer {
	width: 50px;
	height: 32px;

}
header#top nav  .cart-menu {
	padding:  0 0 !important;
	border: 0 !important;
}
body #header-outer .cart-menu .cart-contents {
	padding: 6px 0 0 10px !important;
	border: 1px solid #4A4A4A;
	width: 43px;
	height: 32px;
	background: url(images/cart.png) no-repeat 50% ;
	background-size: 23px;
}
#header-outer .cart-menu .cart-icon-wrap i {
	display: none;
}
body #header-outer .cart-menu .cart-contents:hover {
	border-color: #1BCFE8;
}
body.ascend #header-outer:not(.transparent) .cart-outer:hover .cart-menu-wrap:not(.has_products) .icon-salient-cart {
	color:#4A4A4A !important;
}
body #header-outer .widget_shopping_cart {
	top: 64px;
}
body.ascend #header-outer .cart-wrap {
	margin-right: 0 !important;
}
body.ascend #header-outer .cart-menu .cart-icon-wrap {
	width: 31px !important;
}
body #header-outer .cart-menu-wrap {
	width: 50px;
}
body #header-outer .widget_shopping_cart_content {
	border: 2px solid #172672;
	background: rgba(23,38,114,.8);
}
body  #header-outer .cart-notification {
	background: transparent !important;
}
body #header-outer .widget_shopping_cart .cart_list li {
	background: transparent !important;
}
body #header-outer .widget_shopping_cart .cart_list li:first-child {
	padding-top: 30px;
}
body #header-outer .widget_shopping_cart .buttons {
	    padding: 3px 20px 30px 20px;
}
body #header-outer .total {
    padding: 17px 20px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
}
body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li:hover > a.remove, 
body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li:hover > a.no-ajaxy {
	color: #fff !important;
	
}

body #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove {
	margin: -25px -5px 0 0;
	color: #fff !important;
	font-size: 30px !important;
}
body #header-outer .widget_shopping_cart .quantity .woocommerce-Price-amount,
body #header-outer .widget_shopping_cart .cart_list a {
	color: #fff !important;
	font-size: 16px !important;
}
body #header-outer .widget_shopping_cart .cart_list a {
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
body.woocommerce-page ul.product_list_widget li img {
	width: 83px !important;
	height: 83px !important;
}
body #header-outer .widget_shopping_cart a.wc-forward, 
body #header-outer .widget_shopping_cart a.checkout {
	
	padding: 12px 5px;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	margin-right: 6%;
	

}
body #header-outer .widget_shopping_cart a.wc-forward {
	background: #1BCFE8 !important;
	margin-bottom: 10px;
}
body #header-outer .widget_shopping_cart a.checkout {
	background: #8FB23E !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.bg_header {
	background-image: url(images/header-clavier.jpg);
	background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: top center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 615px;
    position: relative;
}

.bg_header .page_title {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,.8);
	padding: 30px;

}
.bg_header .page_title h1 {
	
}
.main-content h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 200;
	text-transform: uppercase;
	color: #172672;
	margin-bottom: 35px;
}
.main-content .underline {
	width: 171px;
	height: 1.5px;
	background: #172672;
	margin: 0 auto 65px;
	display: block;
}
body .main-content {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}
body.page-id-7 .main-content ,
body.page-template-template-registor .main-content,
body.page-template-template-login-register .main-content {
	padding-top: 150px !important;
}

/***** page acccueil *****/

.home #ajax-content-wrap {
	background-image: url(images/header-accueil.jpg);
	background-attachment: fixed ;
	background-repeat: no-repeat;
    background-position: top center;

  -webkit-background-size: cover ;
  -moz-background-size: cover ;
  -o-background-size: cover ;
  background-size: cover ;
  
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;

}
.home .bg_header {
	background: transparent !important;
	/*height: 1080px;*/
	min-height: 100vh;
	
}
.banner_title {
	position: relative;
	top: 157px;
	width: 100%;
	text-align: center;

}

.banner_title h1 {
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 1.25px;
	color: #4A4A4A;
	font-weight: normal;
	font-family: 'Catamaran', sans-serif;
	text-align: center;
}

.banner_title a {
	background: #172672;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #172672 !important;
	padding: 10px 34px 8px !important;
	font-size: 20px;
	display: inline-block;
	margin-top: 10px;
}
.banner_title a:hover {
	background: transparent;
	color: #172672;
}
.wrap_white {
	background: rgba(255,255,255,.92);
}
.main-content.modules h2 {
	letter-spacing: 4.5px;
	line-height: 1.4;
}
.modules .wrap-modules {
	margin-left: -2.15%;
	margin-right: -2.15%;
	text-align: center;
}

.modules .one-module {
	/*width: 21%;
	margin-right: 4.33%;
	float: left;
	font-size: 20px;
	text-align: center;*/
	width: 20.5%;
    margin-right: 2.15%;
    margin-left: 2.15%;
    /*float: left;*/
    font-size: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.modules .one-module.last {
	margin-right: 0;
}
.modules .one-module .photo {
	
	background-color: #fff;
	margin-bottom: 35px;
	line-height: 0;
	padding: 5px;
	border: 1px solid #172672;
}
.modules .one-module h3 {
	font-size: 18px;
	color: #4A4A4A;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Catamaran', sans-serif;
	line-height: 1.4;
}
.modules .one-module .texte {
	padding-bottom: 58px;
	position: relative;
}
.modules .one-module .savoir-plus {
	background: #172672;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #172672 !important;
	padding: 10px 5px 8px !important;
	font-size: 20px;
	display: inline-block;
	margin-top: 10px;
	position: absolute;
	bottom: 0;
	max-width: 186.5px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.modules .one-module .savoir-plus:hover {
	background: transparent;
	color: #172672;
}

.main-content.visions  h2 {
	letter-spacing: 4.5px;
	color: #90B23E;
}
.main-content.visions p {
	font-size: 20px;
	font-weight: 200;
}
.main-content.visions .underline {
	background: #90B23E;
}

.wrap-vision {
	max-width: 806px;
	margin: 0 auto;
	text-align: center;
}
.wrap-vision .vision {
	width: 33.33%;
	margin: 0 0 15px;
	float: left;
	display: inline-block;
	position: relative;
	
}
.wrap-vision .vision.etape4.mobile {
		display: none;
	}
.wrap-vision .vision p {
	font-size: 20px;
	color: #172672;
	letter-spacing: 2.5px ;
}
.wrap-vision .vision h3 {
	font-size: 40px;
	font-weight: 200;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #90B23E;
	margin-bottom: 40px;
	margin-top: 0;
	padding-top: 15px;
}
.wrap-vision .vision.etape1,
.wrap-vision .vision.etape3 {
	float: none;
}
.wrap-vision .vision.etape2 {
	clear: both;
	float: right;
}
.wrap-vision .vision .content {
	margin: 0 7.5px;
	border: 1px solid #90B23E;
	text-align: center;
	padding: 15px;
	height: 259px;
	background: #fff;
}
.wrap-vision .vision .top {
	position: absolute;
	top: 0;
	left: 7.5px;
	right: 7.5px;
	height: 100%;
	background-color: #90B23E;
	-webkit-transition: opacity 250ms ;
    -moz-transition: opacity 250ms;
    -o-transition: opacity 250ms;
    transition: opacity 250ms;
    background-position: center;
    background-repeat: no-repeat;
    
}
.wrap-vision .vision:hover .top {
	opacity: 0;
}

.wrap-vision .inscription {
	background-image: url(images/bg_inscrivezvous.jpg);
	 background-repeat: no-repeat;
	 background-position:  center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 259px;
}
.wrap-vision .inscription a {
	background: #172672;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #172672 !important;
	padding: 10px 30px 8px !important;
	font-size: 20px;
	display: inline-block;
	margin-top: -20px;
	position: relative;
	top: 50%;

}
.wrap-vision .inscription a:hover {
	background: transparent;
	color: #172672;
}
.banner-image.inscrivez-vous {
	background-image: url(images/bg_inscrivezvous2.jpg);
	 background-repeat: no-repeat;
	 background-position:  center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal;
	height: 720px;
}
.banner-image.inscrivez-vous .main-content {
	padding-top: 62px !important;
	padding-bottom: 62px !important;
}
.banner-image.inscrivez-vous p {
	letter-spacing: 1.25px;
	line-height: 1.2;
}
.banner-image.inscrivez-vous .row {
	max-width: 966px;
	margin: 0 auto;
}
.banner-image p {
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}


/***** page view order ****/
.woocommerce-view-order .woocommerce-MyAccount-content h2 ,
.woocommerce-view-order .woocommerce-MyAccount-content h3 {
	text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: #4A4A4A; 
    margin-bottom: 15px;
    text-transform: uppercase;
}
body:not(.woocommerce-cart) .main-content .woocommerce-MyAccount-content th,
body:not(.woocommerce-cart) .main-content .woocommerce-MyAccount-content td {
	text-align: left;
}

.bundled_table_item_indent a {
	color: #4A4A4A !important;
	cursor: default;
}
.woocommerce table.shop_table tfoot th {
	border-bottom: 1px solid #ececec !important;
}
.woocommerce table.shop_table tfoot tr:nth-last-child(2) th ,
.woocommerce table.shop_table tfoot tr:nth-last-child(2) td {
	border-bottom: 1px solid #4A4A4A !important;
}
.woocommerce table.shop_table tfoot tr:last-of-type th ,
.woocommerce table.shop_table tfoot tr:last-of-type td {
	border-bottom: 1px solid #4A4A4A !important;
	border-top: 1px solid #4A4A4A !important;
}
.woocommerce-checkout-review-order-table .bundled_table_item .product-image img {
	width: 50px !important;
	height: 50px !important;
	margin-left: 20px;
}
.woocommerce-checkout-review-order-table .bundled_table_item .product-info {
	padding-left: 20px;
}
.woocommerce-checkout-review-order-table .bundled_table_item .product-info h4 {
	font-size: 14px;
	line-height: 1.2;
}
.woocommerce-checkout-review-order-table .bundled_table_item .product-info h4 .product-quantity {
	display: none;
}
body .woocommerce-checkout #payment div.payment_box p {
	line-height: 1.2 !important;
}



/***** page connection ***/
.wrap-login {
	padding-top: 100px;
}
.woocommerce-account h2.login-title,
.wrap-login h2.login-title {
	text-align: center;
	font-size: 50px;
	color: #8FB23E;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 75px;
	letter-spacing: 5px;
	line-height: 1.2;
}

body .woocommerce form.login,
.wrap-login form.login {
	max-width: 394px;
	border: 0;
	border-radius: 0;
	padding: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
body .woocommerce form.login input[type='text'],
body .woocommerce form.login input[type='password'],
.wrap-login form.login input[type='text'],
.wrap-login form.login input[type='password']  {
	border: 1px solid #000 !important;
}
.wrap-login form.login label {
	display: none;
}
.wrap-login form.login label.inline {
	display: inline-block;
}

body .container-wrap .woocommerce input[type='submit'],
.ascend .container-wrap .login input[type=submit] {
	background-color: #8FB23E !important;
	font-size: 20px !important;
	font-weight: bold !important;
	border: 1px solid #8FB23E !important;
	font-family: 'Catamaran', sans-serif;
	padding: 13px 55px 10px !important;
	display: inline-block;
	text-transform: uppercase;
	line-height: 1 !important;
	margin-top: 30px;
}
body .container-wrap .woocommerce input[type='submit']:hover ,
.ascend .container-wrap .login input[type=submit]:hover {
	background-color: transparent !important;
	color: #8FB23E !important;
}
.login-btn-row {
	margin-top: 30px !important;
}
body .woocommerce form .form-row input.input-text, 
body .woocommerce form .form-row textarea {
	line-height: 1.4;
	-webkit-appearance: none;
	border-radius: 0;

}
body .woocommerce form .form-row input.input-text {
	height: 56px;
}

/***** page lost password ***/
.lost_reset_password {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
} 
body .container-wrap .woocommerce .lost_reset_password input[type='submit'] {
	width: 100%;
	padding: 13px 10px 10px !important;
	text-align: center;
}


/***** page a propos *****/

.objectifs .objectif {
	width: 33.33%;
	float: left;
	text-align: center;
	border-right: .5px solid #4A4A4A;
	padding: 15px 20px;
}
 .objectifs .objectif:nth-of-type(3n) {
 	border: 0;
 }
.objectifs .objectif.last {
	border: 0 !important;
}
.objectifs .objectif img {
	margin-bottom: 43px;
}
.objectifs .objectif p {
	font-size: 20px;
	letter-spacing: 2px;
}
.banner-green {
	/*background: #F8FCEE;*/
	background: rgba(241,248,223,.95);
	text-align: center;
}
.banner-green h3 {
	color: #8FB23E;
	
}
.banner-blue {
	/*background: #F2F4FF;*/
	background: rgba(237,240,254,.95);
	text-align: center;
}
.banner-blue h3 {
	color: #172672;
	
}
.banner-turkoise {
	/*background: #EBFDFF;*/
	background: rgba(223,250,253,.95);
	text-align: center;
}
.banner-turkoise h3 {
	color: #1BCFE8;
	
}
.banner h3 {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: .8px;
}
.banner p {
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	max-width: 945px;
	margin-left: auto;
	margin-right: auto;
}
.banner  .main-content {
	padding-top: 62px !important;
	padding-bottom: 52px !important;
}
.text_2col {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 75px; /* Chrome, Safari, Opera */
    -moz-column-gap: 75px; /* Firefox */
    column-gap: 75px;
}
.btn_link {
	background: #8FB23E;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #8FB23E !important;
	padding: 6px 17px 4px !important;
	font-size: 20px;
	display: inline-block;
	margin-top: 10px;
}
.btn_link:hover {
	background: transparent;
	color: #8FB23E;
}

.banner-image {
	background-image: url(images/bg-loi41.jpg);
	 background-repeat: no-repeat;
	 background-position:  center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;

}
.banner-image p {
	letter-spacing: 2.5px;
	line-height: 1.5;
}
.banner-image .row {
	max-width: 935px;
	margin: 0 auto;
}
.btn_link_plus {
	background: #1BCFE8;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #1BCFE8 !important;
	padding: 15px 57px 13px !important;
	font-size: 24px;
	display: inline-block;
	margin-top: 10px;
}
.btn_link_plus:hover {
	background: transparent;
	color: #1BCFE8;
}

.btn_link_turkoise {
	background: #1BCFE8;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #1BCFE8 !important;
	padding: 10px 32px 8px !important;
	font-size: 24px;
	display: inline-block;
}
.btn_link_turkoise:hover {
	background: transparent;
	color: #fff;
	border-color: #fff !important;
}

 
.main-content.partenaires .underline {
	margin-bottom: 30px;

}

.wrap-partenaire {
	text-align: center;
}
.wrap-partenaire .partenaire {
	display: inline-block;
	margin: 0 3% 25px;
	vertical-align: middle;
}
.wrap-partenaire .partenaire img {
	width: auto;
	max-width: 225px;
	height: auto;
	max-height: 175px;
}
.partenaires .partenaires-remerciement {
	text-align: center;
	font-size: 20px;
	margin-bottom: 65px;
}



/******* page contact *****/

.google_map {
	margin-bottom: 100px !important;
}
.coordonnees ,
.coordonnees a {
	font-size: 30px;
	color: #172672;
	font-weight: 200;
	letter-spacing: 1px;
}
.coordonnees img {
	margin-bottom: 0;
}
.coordonnees .wpb_content_element {
	margin-bottom: 75px;
}
.gform_wrapper #gform_2 .gform_body {
    width: 100% !important;
}
.contact_info .gform_body .gfield_label {
	display: none !important;
}
.contact_info .gform_body .gfield {
	width: 100%;
	margin-bottom: 10px;
	padding-right: 0 !important;
	margin-top: 0;
}

.contact_info .gform_body .half {
	width: 49.25%;
	margin-right: 1.5%;
}
.contact_info .gform_body .half.last {
	clear: none;

	margin-right: 0;
}
.contact_info .gform_body input[type='text'],
.contact_info .gform_body textarea {
	width: 100% !important;
	border: 1px solid #000 !important;
	border-radius: 0;
	-webkit-appearance: none;
}
.contact_info .gform_body textarea {
	height: 120px !important;
}
.contact_info  .wpb_wrapper {
	text-align: right;
}
.contact_info .gform_wrapper {
	margin-top: 0;
	max-width: 661px;
	display: inline-block;
	text-align: left;
	width: 100%;
}
.contact_info .gform_wrapper .gform_footer {
	margin-top: 0;
	text-align: center;;
}
.contact_info .gform_wrapper .gform_footer input[type=submit] {
	background: #172672;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Catamaran', sans-serif;
	padding: 10px 55px !important;
	border: 2px solid #172672;
	display: inline-block;
	text-transform: uppercase;
}
.contact_info .gform_wrapper .gform_footer input[type=submit]:hover {
	background: transparent !important;
	color: #172672 !important;
}


/****** footer *****/
body #footer-outer {
	background: #fff;
	text-align: center;
	-webkit-box-shadow: 0px 0px 44px 0px rgba(228,228,228,1);
    -moz-box-shadow: 0px 0px 44px 0px rgba(228,228,228,1);
    box-shadow: 0px 0px 44px 0px rgba(228,228,228,1);
	
}
#footer-menu {
	padding: 35px 0;
	border-bottom: .5px solid #4A4A4A;
}
body #footer-outer #logo {
	max-width: 145px;
	display: inline-block;
	margin-right: 47px;
}

#menu-footer-menu {
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
}
#menu-footer-menu li {
	display: inline-block;
	padding: 5px 47px;
}
#menu-footer-menu li:last-of-type {
	padding-right: 0;
}
#menu-footer-menu li a {
	font-size: 16px;
	color: #4A4A4A;
}
#newsletter {
	text-align: center;
	padding: 62px 0 25px;
}

#newsletter h3 {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #4A4A4A;
	margin-bottom: 30px;
	font-family: 'Catamaran', sans-serif;
	letter-spacing: 1.67px;
}

#newsletter input[type='text'],
#newsletter input[type='email'] {
	width: 24%;
	margin-right: 2%;
	float: left;
	background: #fff;
	border: 1px solid #4A4A4A;
	font-size: 15px;
	height: 43px;
}
#newsletter input[type='submit']  {
	float: left;
	width: 22%;
	background: #172672 !important;
	color: #fff;
	font-size: 20px !important;
	font-weight: bold !important;
	text-transform: uppercase;
	border-radius: 0;
	border: 2px solid #172672 !important;
	font-family: Catamaran, sans-serif;
	padding: 7px 11px !important;
	line-height: 1.3 !important;
	height: 43px;
}
#newsletter input[type='submit']:hover {
	background: transparent !important;
	color: #172672 !important;
}
body #mc_embed_signup {
	background: transparent;

}
body #mc_embed_signup form {
	padding: 0;
}
body  #mc_embed_signup input {
	border-radius: 0;
}
body #mc_embed_signup .button {
	clear: none;
	height: auto;
	margin: 0;
	padding: 7px 11px;
	line-height: normal;
}
body  #copyright {
	padding: 15px 0;
	background-color: #fff;
}
body #copyright p , 
body #copyright a{
	text-align: center;
	font-size: 12px;
	font-weight: 200;
	color: #4A4A4A;
}
#newsletter ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
  color: #4A4A4A;
}
#newsletter ::-moz-placeholder { /* Firefox 19+ */
  font-size: 15px;
  color: #4A4A4A;
}
#newsletter :-ms-input-placeholder { /* IE 10+ */
  font-size: 15px;
  color: #4A4A4A;
}
#newsletter :-moz-placeholder { /* Firefox 18- */
  font-size: 15px;
  color: #4A4A4A;
}


/**** page des cours ****/
.post-type-archive-product .products {
	max-width: 915px;
	margin-left: auto !important;
	margin-right: auto !important;
}
body.woocommerce ul.products li.product, 
body.woocommerce-page ul.products li.product {
	width: 29%;
	margin-right: 6%;
}
body.woocommerce-page ul.products li.product.last, 
body.woocommerce ul.products li.product.last {
	margin-right: 6%;
}
body.woocommerce ul.products li.product:nth-child(3n) , 
body.woocommerce-page ul.products li.product:nth-child(3n) {
	margin-right: inherit;
}
body.woocommerce ul.products li.product.classic {
	text-align: center;
}

body.woocommerce ul.products li.product.classic h3 {
	background: rgba(23,38,114,.2);
	padding: 10px 5px;
	color: #172672;
	font-size: 30px !important;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	font-weight: bold;
	line-height: 1 !important;
}
.woocommerce .product-wrap {
	margin-bottom: 20px;
}
.woocommerce .product-wrap.avenir {
	opacity: .5;
}
body.woocommerce ul.products li.product.classic .avenir h3 {
	background: rgba(0,0,0,.6);
	color: #000;
}
body.woocommerce ul.products li.product .ufc_total {
	margin-bottom: 30px !important;
	font-family: 'Catamaran', sans-serif !important;
	font-size: 30px !important;
	font-weight: 600;
	color: #8FB23E !important;
	display: inline-block;
}
.woocommerce .product-wrap.avenir img {
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(images/grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
  -webkit-filter: grayscale(1);
}
.btn_savoir_plus {
	background: #172672;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #172672 !important;
    padding: 12px 35px 8px !important;
    font-size: 20px;
    display: inline-block;
}

.btn_savoir_plus:hover {
	background: transparent;
	color: #172672;
}
.active-cours .user-status-completed {
	display: none;
}
.completed-cours .user-status-active {
	display: none;
}
.active-cours {
	margin-bottom: 25px;
}
.active-cours .sensei-results-links {
	display: none;
}
.active-cours ,
.completed-cours {
	padding: 40px ;
	border: 1px solid #172672;
}
.main-content .active-cours h2 ,
.main-content .completed-cours h2 {
	text-align: left;
	font-size: 26px;
	font-weight: 600;
	color: #172672;
	font-family: 'Catamaran', sans-serif;
}

.active-cours ul,
.completed-cours ul {
	margin-left: 0;
}
.active-cours ul li,
.completed-cours ul li {
	list-style: none;
}
h3.course-title a {
	font-size: 18px;
	font-weight: 600;
	color: #4A4A4A;
	text-transform: none;
	font-family: 'Catamaran', sans-serif;
}
h3.course-title {
	margin-bottom: 25px;
}
.meter,
.sensei-course-meta {
	display: none !important;
}
.start-cours {
	background: #172672;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #172672 !important;
    padding: 8px 35px 4px !important;
    font-size: 15px;
    display: inline-block;
    margin-top: 30px;
}
.start-cours:hover {
	background: transparent !important;
	color: #172672;
}
body .course-container input[type=submit].course-complete {
	background: #8FB23E;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #8FB23E !important;
    padding: 8px 15px 4px !important;
    font-size: 15px;
    display: inline-block;
    line-height: 1.4;
}
body .course-container input[type=submit].course-complete:hover {
	background: transparent !important;
	color: #8FB23E;
}
body .course-container li.course {
	float: none;
	padding: 0 0 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #4A4A4A;
}

body .course-container li.user-status-active:last-of-type, 
body .course-container li:last-of-type  {
	margin-bottom: 0;
	border: 0;
	padding-bottom: 0;
} 
body .course-container li.course .entry-actions {
	margin-top: 30px;
	float: right;
}
#sensei-user-courses {
	
}

#sensei-user-courses .message-cours ul {
	margin-left: 0;
}
#sensei-user-courses .message-cours ul li.user-active ,
#sensei-user-courses .message-cours ul li.user-completed {
	list-style: none !important;
}

.title_quiz {
	text-align: center;
	font-size: 50px;
	font-weight: 600;
	color: #172672;
	text-transform: uppercase;
	margin-bottom: 0;
	letter-spacing: 5px;
}
.quiz h1 {
	font-size: 30px;
	font-weight: 600;
	color: #172672;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Catamaran', sans-serif;
}
body .quiz div.sensei-message a.next-lesson {
	border-radius: 0;
	font-size: 13px;
}
body .quiz form ol#sensei-quiz-list {
	margin-left: 18px;
}
.post-type-archive-product .add_to_cart_button {
	display: none !important;
}
body .quiz form ol#sensei-quiz-list li .answer_message.user_right {
	display: none !important;
}
body .quiz form ol#sensei-quiz-list li .answer_message {
	position: relative;
	width: 100%;
	text-align: left;
}


/**** page un cours vente ***/
body.single-product div.product .product_title {
	font-size: 40px;
	color: #172672;
	font-family: 'Catamaran', sans-serif;
	text-align: left;
	font-weight: bold;
}
body.single-product div.product .taxes {
	font-size: 25px;
    color: #1BCFE8 !important;
}
.single-product .btn_abonner {
	background: #172672 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase;
    border: 1px solid #172672 !important;
    padding: 16px !important;
    font-size: 20px !important;
    display: inline-block;
    line-height: .7;
}
.single-product .btn_abonner:hover {
	background: transparent !important;
	color: #172672 !important;
}
.woocommerce-Price-currencySymbol {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.all-lessons {
	clear: both;
	padding: 72px 0;
	border-top:1px solid #000;
}
.all-lessons .title {
	text-align: center;
	font-size: 25px;
	margin-bottom: 55px;
}

.all-lessons .bundled_product {
	
}
.all-lessons .bundled_product_summary {
	padding-left: 0;
	max-width: 792px;
	margin: 0 auto 40px !important;
}
.all-lessons .bundled_product_summary .bundled_product_images {
	margin-left: 0;
	width: 35%;
	float: left;
}
.all-lessons .bundled_product_summary .bundled_product_images a {
	display: block;
	
	
}
.all-lessons .bundled_product_summary .bundled_product_images img  {
	width: auto;
}
.all-lessons .bundled_product_summary .bundled_product_images a img {
	border: 1px solid #172672;padding: 5px;
}
.all-lessons .bundled_product_summary .details {
	width: 65%;
	padding-left: 30px;
	float: right;
}

body.single-product div.product .details .product_title {
	font-size: 30px;
	text-transform: uppercase;
	padding-right: 0;
	margin-bottom: 10px;
}
.inscrip-title {
	font-size: 25px;
	color: #1BCFE8 !important;
	font-weight: normal;
	margin-right: 15px;
}
.the-price {
	display: inline-block;
}
body.woocommerce .summary .price {
	font-size: 35px;
	font-weight: 600;
	color: #1BCFE8 !important;
	margin-top: 0;
}
body.woocommerce div.product div.images img {
	width: auto;
}
body.woocommerce button.button, 
body.woocommerce-page button.button {
	    background: #172672 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase;
    border: 1px solid #172672 !important;
    padding: 6px 17px 4px !important;
    font-size: 20px !important;
}
html body.woocommerce button.button:hover, 
html body.woocommerce-page button.button:hover {
	background: transparent !important;
	color: #172672 !important;
}
body.woocommerce-page div[data-project-style="classic"] button[type="submit"].single_add_to_cart_button:hover {
	background: transparent !important;
	color: #172672 !important;
}
body.woocommerce .single-product-summary .entry-summary p {
	padding-bottom: 0;
}
body .bundle_form {
	margin-bottom: 0;
}
.single-product-main-image ,
body.woocommerce .single-product-summary {
	margin-bottom: 70px;
}
body.woocommerce .single-product-summary {
	width: 60%;
}
.single-product-main-image {
	width: 38%;
}

.bundle_button {
	display: inline-block;
}
body.woocommerce.single-product #single-meta {
	position: relative;
	top: 0 !important;
	float: right;
	margin: 0;
}
body.single #single-meta ul li > a {
	border-radius: 0;
	border: 1px solid #4A4A4A !important;
	padding: 14px 15px 10px !important;
	color: #4A4A4A !important;
	text-transform: uppercase;
}
body.single #single-meta ul li.meta-share-count .nectar-social a:hover i {
	color: #1BCFE8 !important;
}
.btn_demo {
	background: #172672;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #172672 !important;
    padding: 3px 12px 1px !important;
    font-size: 15px;
    display: inline-block;
}
.btn_demo:hover {
	background: transparent;
	color: #172672;
}
#reviews {
	max-width: 651px;
	margin-right: auto;
	margin-left: auto;
} 
#respond h3, #comments h3 {
	font-size: 30px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 200;
}
body.woocommerce #review_form #respond textarea,
body.woocommerce #review_form #respond input[type='text'],
body.woocommerce #review_form #respond input[type='email'] {
	border: 1px solid #4A4A4A !important;
}
body.woocommerce #respond input#submit {
	background: #172672 !important;
    color: #fff;
    font-size: 20px !important;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #172672;
    border: 2px solid #172672;
    padding: 14px 22px 12px !important;
    letter-spacing: 1px;
}
body.woocommerce #respond input#submit:hover {
	background: transparent !important;
	color: #172672 !important;
}
body.ascend.single-product #commentform .form-submit {
	text-align: center !important;
}
#commentform ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
  color: #4A4A4A;
}
#commentform ::-moz-placeholder { /* Firefox 19+ */
  font-size: 15px;
  color: #4A4A4A;
}
#commentform :-ms-input-placeholder { /* IE 10+ */
  font-size: 15px;
  color: #4A4A4A;
}
#commentform :-moz-placeholder { /* Firefox 18- */
  font-size: 15px;
  color: #4A4A4A;
}

body.woocommerce #reviews #comment {
	height: 150px;
}
#respond label {
	display: none;
}
body.woocommerce #reviews #reply-title {
	font-size: 30px;
	font-weight: 200;
	text-transform: uppercase;
	font-family: 'Catamaran', sans-serif;
}
.woocommerce-result-count ,
.woocommerce-ordering  {
	display: none;
}
body.woocommerce div.product div.images {
	position: relative;
	width: auto !important;
}
.woocommerce div.product div.images .product-title {
	background: rgba(23,38,114,.2);
    padding: 10px 5px;
    color: #172672;
    font-size: 30px !important;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    font-weight: bold;
    line-height: 1 !important;
}
body .woocommerce-error {
	color: #fff !important;
}
body .woocommerce-error, 
body .woocommerce-info, 
body .woocommerce-message {
	border-top: 0;
}
body.single-product.woocommerce .woocommerce-message a.button,
body.single-product.woocommerce .woocommerce-error a.button {
	background-color: #172672 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase;
    border: 1px solid #172672 !important;
    padding: 6px 17px 4px !important;
    margin: -5px 0;
    height: auto !important;
    border-radius: 0 !important;
}

body.single-product.woocommerce .woocommerce-message a.button:hover,
body.single-product.woocommerce .woocommerce-error a.button:hover {
	color: #172672 !important;
	background-color: #fff !important;
}
body .woocommerce-error {
	background: #f56363 !important;
}
.temoignages {
	text-align: center;
}
.temoignages h3 {
	text-transform: uppercase;
	font-weight: 200;
	color: #8FB23E;
	font-size: 30px;
	padding-bottom: 35px;
	border-bottom: #8FB23E;
	margin-bottom: 35px;
}
.temoignages .temoignage {
	width: 31%;
	margin-right: 2%;
	float: left;
	display: inline-block;
	text-align: center;
	padding: 60px 20px;
	background-color: #F5F5F5;
	font-size: 20px;
}
.temoignages .temoignage .name {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 0;
}
.temoignages .temoignage .poste {
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
}
.temoignages .temoignage .avatar {
	display: inline-block;
	width: 104px;
	height: 104px;
	background: #fff;
	-webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    border-radius: 52px;
    margin-bottom: 40px;
    text-align: center;
    overflow: hidden;
}
.temoignages .temoignage:nth-child(4) {
	margin-right: 0;
}
body.woocommerce div.product form.cart .button {
	margin-left: 0;
}





/***** page un cour ****/
.single-course .course > header:first-of-type {
	/*float: right;
	width: calc(100% - 225px);*/
	
}
.single-course .course > header h1 {
	font-size: 30px;
	text-transform: uppercase;
	color: #172672;
	font-family: 'Catamaran', sans-serif;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 30px;
}
.single-course .course h2 {
	text-align: left;
	font-family: 'Catamaran', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #4A4A4A;
	margin-bottom: 25px;
	margin-top: 40px;
}

.single-course .course .course-lessons h2 {
	margin-top: 0;
}
.single-course .course .course-lessons .entry {
	margin-bottom: 25px;
}

.course-lessons .lesson {
	border: 1px solid #1BCFE8;
	padding: 29px;
	margin-bottom: 15px;
}
.single-course .course .lesson h2 {

}
.single-course .course .lesson h2 a {
	text-transform: uppercase;
	color: #172672;
	font-weight: 600;
}
.btn_start_lesson {
	float: right;
        padding: 7px 50px 5px;
    background: #172672;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #172672;
    border: 2px solid #172672;
}
.btn_start_lesson:hover {
	background: transparent;
	color: #172672;
}
#post-entries .nav-prev ,
#post-entries .nav-next {
	display: none;
}
.single-course .course-meta .status {
	margin-left: 51px;
	border-radius: 0;
	color: #4A4A4A;
	border: 1px solid #4A4A4A;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	background: transparent !important;
	padding: 12px 25px !important;
}
.single-course .course-meta .status:before  {
	font-size: 20px;
}

/*.form-appreciation {
	display: none;
}
.single-course .user-status-completed .form-appreciation {
	display: block;
}*/
.single-quiz #form-appreciation {
	border: 1px solid #1BCFE8;
    padding: 29px;
    margin-bottom: 15px;
    max-width: 600px;
    text-align: left;
    margin: 40px auto 0;
}
.single-quiz #form-appreciation h2 {
	margin-bottom: 20px;
}
.single-quiz #form-appreciation li {
	float: none !important;
}
.single-quiz #form-appreciation .gfield_label {
	font-weight: bold !important;
}
.single-quiz #form-appreciation .gfield_checkbox li {
	display: block;
	float: none ;
	margin-bottom: 0px;
}
.single-quiz #form-appreciation form .gfield {
	display: block;
	float: none;
}
.single-quiz #form-appreciation .gform_wrapper .gform_footer {
	display: block;
	text-align: center;
}
.single-quiz #form-appreciation .gform_wrapper .gform_footer input[type=submit] {
    padding: 7px 50px 5px !important;
    background: #172672;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #172672;
    border: 2px solid #172672;
    display: inline-block;
}
.single-quiz #form-appreciation .gform_wrapper .gform_footer input[type=submit]:hover { 
	background-color: transparent !important;
	color: #172672;
}
.single-quiz .quiz form ol#sensei-quiz-list li > span .grade {
	display: none;
}

/****** page d'une lesson ****/
.single-lesson .lesson > header h1 {
	font-size: 30px;
	text-transform: uppercase;
	color: #172672;
	font-family: 'Catamaran', sans-serif;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 30px;
}
.single-lesson .lesson footer {
	text-align: center;
}
.single-lesson .lesson footer a.button {
	padding: 7px 50px 5px;
    background: #172672;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #172672;
    border: 2px solid #172672;
}
.single-lesson .lesson footer a.button:hover {
    background: transparent;
    color: #172672;
    
}
body .sensei-breadcrumb {
	font-style: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 1.6px;
	background-color: transparent;
}
body .sensei-breadcrumb:before {
	content: '';
	margin-right: 0;
	width: 0;
}
body.ascend .container-wrap input[type="submit"].quiz-submit {
	padding: 9px 15px 5px !important;
    background: #172672;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #172672;
    border: 2px solid #172672;
    min-width: 205px;
    text-align: center;
    display: inline-block;
    line-height: 1;
}
body.ascend .container-wrap input[type="submit"]:hover.quiz-submit {
	background: transparent !important;
	color: #172672;
}
body.ascend .container-wrap input[type="submit"].quiz-submit.save {
	background: #8FB23E;
	border-color: #8FB23E;
}
body.ascend .container-wrap input[type="submit"]:hover.quiz-submit.save {
	background: transparent !important;
	color: #8FB23E;
}
.quiz-questions {
	text-align: center;
}
.quiz-questions #sensei-quiz-list {
	text-align: left;
}

.lesson .video {
	width: 50%;
	float: left;
}
.lesson .lescommandites {
	width: 25%;
	float: left;
	text-align: center;
	min-height: 10px;
}
.lesson .document {
	width: 25%;
	float: right;
	text-align: center;
}
.lesson .lescommandites h3 {
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Catamaran', sans-serif;
	margin-bottom: 25px;
}
.lesson .document {
	padding-top: 100px;
}

.lesson .document a {
	background: #172672;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #172672 !important;
    padding: 6px 17px 4px !important;
    font-size: 15px;
    display: inline-block;

}
.lesson .lesson-meta span {
	margin-right: 10px;
	display: inline-block;
}
.lesson .lescommandites .document a:hover {
	background-color: transparent;
	color: #172672;
}
.lesson .lescommandites .commandites {

}
.lesson .lescommandites .commandites .commandite {
	display: inline-block;
	
	margin: 0 15px 25px;

}
.lesson .lescommandites .commandites .commandite img {
	max-height: 50px;
	height: auto;
	max-width: 200px;
	width: auto;
}



/****** panier  *****/
body .woocommerce table.cart img, 
body .woocommerce #content table.cart img, 
body.woocommerce-page table.cart img, 
body.woocommerce-page #content table.cart img {
	max-width: inherit;
}
body .container-wrap .woocommerce .cart-collaterals input[type='submit'] {
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	display: none !important;
}
body.woocommerce-cart .wc-proceed-to-checkout {
	margin-top: 30px;
}
body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	background: #172672 !important;
    
    border: 1px solid #172672 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: 'Catamaran', sans-serif;
    padding: 13px 5px 10px !important;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1 !important;
    width: 100%;
}
body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
	background-color: transparent !important;
	color: #172672 !important;
	opacity: 1 !important;
}

.cart-collaterals {
	padding: 42px 104px;
	border: 1px solid #172672;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
}

.woocommerce-cart .woocommerce .span_8,
.woocommerce-cart .woocommerce .span_4 {
	float: none;
	width: 100%;
}
.ascend .cart .quantity input.plus, 
.ascend .cart .quantity input.minus {
	display: none !important;
}
body .woocommerce .cart .quantity input.qty {
	text-align: left;
	border: 0;
	padding: 0;
	font-size: 16px !important;
}
.cart_item.bundle_table_item ,
.cart_item.bundle_table_item a {
	font-size: 16px !important
}
.cart_item.bundle_table_item .product-quantity {
	font-size: 16px !important;
}
.woocommerce .cart-collaterals .cart_totals table {
	width: 100%;
	
}
.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce .cart-collaterals .cart_totals table td {
	font-size: 20px !important;
	text-transform: uppercase;
}
.woocommerce table.cart .bundled_table_item .product-thumbnail a {
	cursor: default;
}
.woocommerce table.cart .bundled_table_item .product-thumbnail a img {
	width: 70px !important;
	height: auto !important;
	margin-left: 20px; 
}
.woocommerce table.cart .bundled_table_item td {
	padding: 10px !important;
}

body .woocommerce a.button, 
body.woocommerce-page a.button, 
body .woocommerce button.button, 
body.woocommerce-page button.button, 
body .woocommerce input.button, 
body.woocommerce-page input.button, 
body .woocommerce #respond input#submit, 
body.woocommerce-page #respond input#submit, 
body .woocommerce #content input.button, 
body.woocommerce-page #content input.button {
	text-transform: none;
}
/***** page checkout ***/
.checkout .col2-set .col-2 {
	padding: 42px;
	border: 1px solid #172672;
}
#order_review_heading {
	text-align: center;
	color: #172672;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Catamaran', sans-serif;
}
body .woocommerce-checkout-review-order-table .product-container {
	padding: 20px 0 !important;
	background: transparent ;
}
body .checkout #order_review .order-review {
	border: 0 !important;
}
body .woocommerce table.order-review th ,
body .woocommerce table.order-review td {
	font-size: 15px;
    font-weight: normal;
    font-family: 'Catamaran', sans-serif;
    padding: 5px 0 !important;
    border: 0 !important;
    text-align: left;
}
body:not(.woocommerce-cart) .main-content .order-review tr:last-of-type td {
	border: 0 !important;
}
.woocommerce-billing-fields label,
.woocommerce-shipping-fields {
	display: none !important;
}

body .select2-container .select2-choice {
	border-radius: 0;
	    border: 1px solid #4A4A4A!important;
	padding: 16px;
	color:  #4A4A4A;
	font-size: 16px;
	line-height: 1.4 !important;
	height: 56px;
}
body .select2-container .select2-choice:hover ,
body .select2-dropdown-open .select2-choice {
	background: #8FB23E !important;
	
}
body .select2-container .select2-choice:hover >.select2-chosen ,
body .select2-dropdown-open .select2-choice >.select2-chosen {
	color: #fff !important;
}
body .select2-container .select2-choice .select2-arrow b:after {
	border-width: 8px;
	 margin-left: -15px;
	 border-top-color: #4A4A4A;
}
body .select2-container .select2-choice:hover .select2-arrow b:after {
	 border-top-color: #fff;
}
body .select2-dropdown-open .select2-choice .select2-arrow b:after {
	border-top-color: transparent;
    border-bottom-color: #fff;

}

.woocommerce-checkout #billing_country_field {
	width: 49%;
    padding: 1px;
    float: left;
    clear: both;
}
.woocommerce-checkout #billing_city_field {
	width: 49%;
    padding: 1px;
    float: right;
    clear: none !important;
}
.woocommerce-edit-address .woocommerce-MyAccount-content p label {
	display: none;
}

#practice_field {
	margin-bottom: 40px;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #4A4A4A;
    display: block;
    position: relative;
    /*overflow: hidden;*/
    background-color: transparent;
    height: 56px;
    
}

.select-style select {
    padding: 16px 16px 18px !important;
    width: 100%;
    border: none;
    font-size: 16px!important;
    box-shadow: none;
    color: #4A4A4A;
    position: relative;
    z-index: 1;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    line-height: 1;
    cursor: pointer;
    box-shadow: none !important;
}
.select-style:after {
	border-width: 8px;    
	margin-left: -15px;
    border-top-color: #4A4A4A;

    position: absolute;
    display: block;
    content: "";
    top: 25px;
    right: 20px;
    border: 8px solid transparent;
    border-top-color: #666;
    z-index: 0;
    margin-top: -2px;
}
.select-style:hover {
	background-color: #8FB23E;
	border-color: #8FB23E;
}
.select-style:hover select {
	color: #fff;
}
.select-style:hover:after {
	border-top-color: #fff;
}

.select-style select:focus {
    outline: none;
}
.select-style select option {
	color: #4A4A4A !important;
}



/**** page confirmation paiement ***/
.woocommerce-order-received .main-content h2,
.woocommerce-order-received .main-content h3 {
	text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: #4A4A4A;
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 15px
}
body.woocommerce-order-received .main-content th,
body.woocommerce-order-received .main-content td {
	text-align: left !important;
}
.woocommerce-order-received .woocommerce-order-received {
	display: none;
}



/****** page my account ****/

body.woocommerce-account .woocommerce-MyAccount-navigation {
	max-width: 258px;
}
body.woocommerce-account .woocommerce-MyAccount-navigation ul {
	margin-left: 0;
	list-style: none;
	border-top: 0;
}
body.woocommerce-account .woocommerce-MyAccount-navigation ul li:first-of-type {
	padding-top: 0;
	border: 0;
}
body.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	padding: 20px 0;
	list-style: none;
	border-top: 1px solid #4A4A4A;
	border-bottom: 0;
}
body.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 200;
	color: #4A4A4A;
	padding: 5px 0;
	letter-spacing: 3.4px;
	opacity: 1;
}
body.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a,
body.woocommerce-account .woocommerce-MyAccount-navigation ul li:hover a {	
	font-weight: 600;
	color: #1BCFE8;
}
 body .woocommerce-MyAccount-navigation ul li a:before {
 	content: '' !important;
 	margin-right: 0;
 }

body:not(.woocommerce-cart) .main-content table {
	border: 1px solid #4A4A4A !important;
}
body:not(.woocommerce-cart) .main-content th {
	border: 1px solid #4A4A4A !important;
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 12px 10px !important;
}
body:not(.woocommerce-cart) .main-content td {
	border: 1px solid #4A4A4A !important;
	border-bottom: 1px solid #E2E2E2 !important;
	text-align: center;
	font-size: 15px;
	font-weight: normal;
}
body:not(.woocommerce-cart) .main-content tr:last-of-type td {
	
	border-bottom: 1px solid #4A4A4A !important;
}
.woocommerce table.my_account_orders .order-actions .button {
	background: #172672 !important;
    color: #fff;
    font-weight: bold !important;
    text-transform: uppercase;
    border: 1px solid #172672 !important;
    padding: 10px 5px 8px !important;
    font-size: 13px !important;
    width: 100%;
    border-radius: 0;
    margin: 0;
}
.woocommerce-Address .edit {
	background: #172672 !important;
    color: #fff;
    font-weight: bold !important;
    text-transform: uppercase;
    border: 1px solid #172672 !important;
    padding: 6px 17px 4px !important;
    font-size: 13px !important;
    margin-top: 25px;
    border-radius: 0;
    display: inline-block;
}
.woocommerce-Address-title h3,
.woocommerce-MyAccount-content h3 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	/*font-family: 'Catamaran', sans-serif;*/
	margin-bottom: 25px;
}
.woocommerce-Address .edit:hover,
.woocommerce table.my_account_orders .order-actions .button:hover {
	background-color: transparent !important;
	color: #172672 !important;
}
.woocommerce-MyAccount-content .if-student label {
	display: inline-block !important;
}
.woocommerce-MyAccount-content .if-student label#pharmacien {
	margin-left: 40px;
}
.woocommerce-account #licence ,
.woocommerce-account #account_first_name,
.woocommerce-account #account_last_name {
	border: 0 !important;
}

/****** page s inscrire **/
.register label.error {
	font-size: 12px;
	font-weight: 600;
	color: red;
	padding: 5px ;
}

.wrap-register {
	max-width: 799px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}
.wrap-register h1,
.wrap-register h2 {
	font-size: 50px;
	font-weight: normal;
	color: #172672;
	margin-bottom: 75px;
	letter-spacing: 5px;
	line-height: 1.2;
}
.wrap-register form > p {
	margin-bottom: 25px;
}
.wrap-register .input[type="text"],
.wrap-register input[type="email"] {
	height: 56px;
}
.container-wrap .wrap-register .thesubmit {
	text-align: center;
	margin-top: 30px !important;
}
.container-wrap div.clear {
	padding-bottom: 0;
}
body .container-wrap .wrap-register input[type=submit] {
	background: #172672;
    border: 1px solid #172672 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: 'Catamaran', sans-serif;
    padding: 13px 55px 10px !important;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1 !important;
}
body .container-wrap .wrap-register input[type=submit]:hover {
	background: transparent !important;
	color: #172672 !important;
}
body .container-wrap input[type="text"], 
body .container-wrap textarea, 
body .container-wrap input[type="email"], 
body .container-wrap input[type="password"], 
body .container-wrap input[type="tel"], 
body .container-wrap input[type="url"], 
body .container-wrap input[type="search"], 
body .container-wrap input[type="date"] {
	border-color: #4A4A4A !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4A4A4A;
  font-family: 'Catamaran', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #4A4A4A;
  font-family: 'Catamaran', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #4A4A4A;
  font-family: 'Catamaran', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  color: #4A4A4A;
  font-family: 'Catamaran', sans-serif;
}
body .form-row-first, 
body .form-row-last {
    width: 49%;
    float: left;
}
body .form-row-last {
	float: right;
}
.wrap-inscription .bg_header {
	background: transparent !important;
	height: auto;
}
.wrap-inscription {
	min-height: 100vh;
	background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: top center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    position: relative;
}
.woocommerce-edit-account .if-student {
	padding-top: 15px !important;
}
.woocommerce-edit-account .if-student label:before {
	top: 2px !important;
}
.pharmacien {
	margin-left: 45px;
}
.if-student {
	padding-left: 0;
	padding-bottom: 25px;
}
.if-student label {
	display: inline-block;
	color: #4A4A4A !important;
	font-size: 16px;
	font-weight: 600;
}
.if-student label:before {
	/*content: '';
	display: inline-block;
	width: 20px !important;
	height: 20px !important;
	border-radius: 20px;
	border: 1.5px solid #4A4A4A !important;
	vertical-align: middle;
	margin-right: 15px;
	margin-top: -2px;*/
}
/* Base for label styling */
.if-student [type="radio"]:not(:checked),
.if-student [type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
.if-student [type="radio"]:not(:checked) + label,
.if-student [type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

/* checkbox aspect */
.if-student [type="radio"]:not(:checked) + label:before,
.if-student [type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: -2px;
  width: 20px; height: 20px;
  border: 1px solid #4A4A4A;
  background: #fff;
  border-radius: 20px;
  vertical-align: middle;
}
.if-student [type="radio"]:checked + label:before {
	background: #8FB23E !important;
}

/***** page results ***/
.course-results h1 {
	font-size: 30px;
	color: #172672;
	font-weight: 600;
	font-family: 'Catamaran', sans-serif;
	letter-spacing: 3px;
	text-align: left;
}
body .course div.sensei-message {
	clear: none;
}
.course-results .thumbnail {
	border: 1px solid #172672;
}
.course-results-lessons {
	margin-left: 202px;
	text-align: left;
}
.course-results-lessons header {
	display: none;
}
.course-results-lessons .course h2,
.course-results-lessons .course h3 {
	display: none;
}
.course-results-lessons h2.total-grade {
	text-align: left;
	font-family: 'Catamaran', sans-serif;
	display: block;
}

.course a.sensei-certificate-link {
	background: #1BCFE8 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase;
    border: 1px solid #1BCFE8 !important;
    padding: 6px 17px 4px !important;
    font-size: 13px !important;
    text-decoration: none !important;
    border-radius: 0;
    display: inline-block;
}
.course a.sensei-certificate-link:hover {
	background: #fff !important;
	color: #1BCFE8 !important;
}
.course .sensei-results-links {
	margin-bottom: 0;
}
.course .sensei-results-links .view-results {
	background: #8FB23E !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase;
    border: 1px solid #8FB23E !important;
    padding: 6px 17px 4px !important;
    font-size: 13px !important;
    text-decoration: none !important;
    border-radius: 0;
    display: inline-block;
    margin-left: 15px;
}
.course .sensei-results-links .view-results:hover {
	background: #fff !important;
	color: #8FB23E !important;

}
.course .course-content a img,
.course .thumbnail  {
	border: 1px solid #172672;
	padding: 5px;
}

.course .course-content ul li ,
.course .course-content ol li {
	list-style: inherit;
}
.course .course-content .resume-objectif {
	margin-left: 365px;

}
.course .course-content ol {
	list-style-type: decimal;
	list-style: decimal;
}
.course .course-content ol li {

}
.progress.statement {
	display: none;
}

/*.sensei-course-filters,
.post-type-archive-course .archive-header {
	display: none;
}*/


/**** section commentaire ***/
#respond {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}
#respond h3 {
	text-transform: uppercase;
    font-weight: 200;
    color: #8FB23E;
    font-size: 30px;
    padding-bottom: 35px;
    border-bottom: #8FB23E;
    margin-bottom: 0 !important;
}
#respond #submit {
	padding: 7px 50px 5px !important;
    background: #172672;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #172672;
    border: 2px solid #172672;
    line-height: 1.618em;
}
#respond #submit:hover {
	background: transparent !important;
	color: #172672 !important;
}



/***** page login register ****/
#customer_login .col-1,
#customer_login .col-2 {
	float: left;
	width: 48%;
}
#customer_login .col-2 {
	float: right;
}

.gform_wrapper.gf_browser_chrome .gform_body {
	width: 100% !important;
}

@media (max-width: 1130px) {
	body header#top nav > ul > li {
	    padding: 0 7px !important;
	}
	header#top nav .btn_compte a, 
	header#top nav .btn_connect a,
	header#top nav .btn_cours a, 
	header#top nav .btn_suscribe a {
	    padding: 6px 8px 4px !important;
	}

	#menu-footer-menu li {
		padding: 5px 17px;
	}
}

@media only screen and (max-width: 1080px) and (min-width: 1000px) {
	.cart-outer {
	    display: block !important;
	}
}


@media (max-width: 1000px) {
	/* header */
	body header#top #logo {
	    margin-top: 2px!important;
	}
	html body header#top #logo img, 
	body #header-outer[data-permanent-transparent="false"] #logo .dark-version {
	    height: 50px!important;
	}
	body header#top #mobile-cart-link {
		top: 14px;
		background: url(images/cart.png) no-repeat 50%;
    	background-size: 23px;
	}
	body header#top #mobile-cart-link .icon-salient-cart:before {
		content: '';
	}
	body header#top .span_9 > .slide-out-widget-area-toggle {
		top: 34px;
	}
	.cart-outer {
	    display: none;
	}
	.bg_header {
		height: 415px;
	}
	body #slide-out-widget-area {
		background: #8FB23E !important;
	}
	body #header-outer {
		padding-top: 10px !important;
	}
	.slide-out-widget-area-toggle .icon-reorder {
		    border-radius: 0;
		    -moz-border-radius: 0;
		    -webkit-border-radius: 0;
		    -o-border-radius: 0;
		    background: #172672;
		    height: 23px;
		    width: 24px !important;
	}
	html body[data-is="minimal"] .icon-reorder {
	     width: 24px!important; 
	}
	body #slide-out-widget-area .inner .off-canvas-menu-container li a {
		font-size: 26px ;
	}

	/* footer */
	body #footer-outer #logo {
		margin-right: 0;
	}

	h1, 
	.faux-h1 {
		font-size: 50px;
		letter-spacing: 3px;
	}

	/* accueil */
	.home #ajax-content-wrap {
		-webkit-background-size: none ;
		  -moz-background-size: none ;
		  -o-background-size: none ;
		  background-size: none ;
		  -webkit-background-size:  auto 100%;
		  background-size:  auto 100%;
		  background-attachment: inherit;

	}
	.banner_title {
		top: 57px;
	}
	.banner_title h1 {
    	font-size: 40px;
    }

    .modules .one-module {
        width: 41%;
        margin-bottom: 50px;

    }

    .wrap-vision .vision .content,
    .wrap-vision .inscription {
    	height: 185px;
    }
    .wrap-vision .vision h3 {
    	font-size: 30px;
    	margin-bottom: 15px;
	    padding-top: 5px;
    }
    .wrap-vision .vision p {
    	font-size: 17px;
    }
    .wrap-vision .inscription a {
    	padding: 10px 20px 8px !important;
	    font-size: 16px;
    }

    .banner-image.inscrivez-vous {
    	font-size: 35px;
    	 height: 420px;
    }

    .btn_link_turkoise {
    	font-size: 20px;
    }

    #newsletter input[type='text'],
    #newsletter input[type='email'] {
    	width: 49%;
    	margin-bottom: 12px;
    }
    #newsletter input[type='text'].firstname {
    	margin-right: 0;
    	
    }
    #newsletter input[type='submit'] {
    	width: 49%;
    }


    /*** a propos */
    .objectifs {
    	text-align: center;
    }
    .objectifs .objectif {
    	width: 49%;
    	margin-bottom: 40px;
    	float: none;
    	display: inline-block;
    	vertical-align: top;
    	border-
    }
    .objectifs .objectif:nth-of-type(2n) {
    	border-right: 0;
    }
    body .main-content.objectifs {
    	padding-bottom: 40px !important;
    }
    .btn_link_plus {
    	font-size: 18px;
    	padding: 10px 25px 8px !important
    }
    .text_2col {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 75px;
        -moz-column-gap: 75px;
        column-gap: 75px;
    }


    /**** contact ****/
    .nectar-google-map {
    	height: 300px !important; 
    }
    .google_map {
        margin-bottom: 70px !important;
    }
    .coordonnees .wpb_content_element {
        margin-bottom: 45px;
    }
     .coordonnees .wpb_content_element p {
     	margin-bottom: 0;
     }

     /*** un produit ***/
     body.woocommerce .single-product-summary {
     	width: 100%;
     }
     body #single-meta {
     	clear: none;
     }


     /** login / register ***/
     .wrap-register,
     .wrap-login {
     	padding-top: 0;
     }
     .wrap-register h1,
     .wrap-register h2,
     .wrap-login h2.login-title {
     	font-size: 30px;
     	letter-spacing: 2px;
     }
     .wrap-register h2 {
     	margin-bottom: 40px;
     }
     
     body #customer_login .form-row-first, 
     body #customer_login .form-row-last {
     	float: none;
     	width: 100%;
     }
     #customer_login .wrap-register form > p {
         margin-bottom: 15px;
     }

     .if-student label {
     	margin-bottom: 15px;
     }
     



     /**** page mes cours ****/
     body .course-container li.course a img {
     	max-width: 200px;
     }
     .course .course-content .resume-objectif {
         margin-left: 229px;
     }



     /***** page une lesson ***/
     .lesson .lescommandites {
     	width: auto;
     	float: none;
     	margin-bottom: 15px;
     }
     .lesson .video {
     	width: 100%;
     	
     	margin-left: auto;
     	margin-right: auto;
     	float: none;
     	margin-bottom: 15px;
     }
     .lesson .document {
     	float: none;
     	width: 100%;
     	padding-top: 0;
     	margin-bottom: 35px;
     }
     /**** page resultats ***/

     .course-results .thumbnail {
     	width: 200px;
     }

     /**** page commande ***/
     .checkout .col2-set .col-1 {
	    width: 100% !important;
	    float: none;
	    max-width: 500px;
	    margin-bottom: 35px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.checkout .col2-set .col-2 {
	    width: 100% !important;
	    float: none;
	    max-width: 500px;
	    margin-left: auto;
	    margin-right: auto;
	}
	body .checkout .woocommerce-billing-fields {
		padding-right: 0;
	}

	.start-cours {
		width: 100%;
		text-align: center;
	}
	.course .sensei-results-links a {
		float: none;
		margin-left: 0 !important;
		margin-right: 0;
		width: 100%;
		margin-bottom: 15px;
	}
	   

}


@media (max-width: 768px) {
	body.woocommerce div.product div.images {
		float: left;
	}
}

@media (max-width: 690px) {
	.banner_title h1 {
	    font-size: 30px;
	}
	.banner_title a {
		font-size: 16px;
	}
	.main-content h2 {
		font-size: 25px;
		margin-bottom: 20px;
	}
	.wrap-vision {
		max-width: 200px;
	}
	.wrap-vision .vision {
		width: 100%
	}
	.wrap-vision .vision.etape4 {
		display: none;
	}
	.wrap-vision .vision.etape4.mobile {
		display: block;
	}
	.wrap-vision .vision .content {
		margin-left: 0;
		margin-right: 0;
	}
	.wrap-vision .vision .top {
		left: 0;
    	right: 0;
	}
	.wrap-vision .vision .content, .wrap-vision .inscription {
	    height: 200px;
	}


	/*** un produit */
	body .single-product-main-image {
		width: 100%;
	}
	body.single-product div.product .details .product_title {
		font-size: 20px;
	}
	body.single-product div.product .details  {
		padding-left: 10px;
	}
	/*** page login / register ***/
	#customer_login .col-1, 
	#customer_login .col-2 {
		width: 100%;
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}   
	#customer_login .col-1 {
		margin-bottom: 50px;
	}
	.wrap-login h2.login-title  {
		margin-bottom: 20px;
	}


	/**** page mes cours ***/
	body .course-container li.course a img {
		float: none;
		max-width: 333px;
	}
	body .course-container li.course a {
		margin-bottom: 15px;
		display: inline-block;
	}
	.course .course-content .resume-objectif {
	    margin-left: 0px;
	}
	.course .sensei-results-links {
		text-align: center;
	}
	
	
	body .course-container li.course .entry-actions {
		float: none;
	}

	/**** PAGE UN COURS ***/
	.single-course .course-meta .status {
		margin-left: 0;
	}
	.btn_start_lesson {
		width: 100%;
		text-align: center;
	}

	/**** page resultats ***/

     .course-results .thumbnail {
     	width: 200px;
     	float: none;
     }
     .course-results-lessons {
     	margin-left: 0;
     }

     /*** page historique ***/
     .woocommerce table.shop_table_responsive tr.order {
     	margin-bottom: 15px;
     }



     /***** page panier ***/
     .cart-collaterals {
     	padding: 42px 20px;
     }

     body .woocommerce-error, 
	body .woocommerce-info, 
	body .woocommerce-message {
		text-align: center !important;
		padding: 15px !important;
	}
	body .woocommerce-error .button, 
	body .woocommerce-info .button, 
	body .woocommerce-message .button {
		float: none;
		width: 100%;
		display: inline-block;
		margin-bottom: 10px !important;
		white-space: normal !important;
	}
	body div.dark_rounded iframe {
		height: auto !important;
	}


}


@media (max-width: 479px) {
	html body {
		font-size: 16px;
	}
	body .main-content {
	    padding-top: 60px !important;
	    padding-bottom: 60px !important;
	}
	/** header **/
	.bg_header {
	    height: 315px;
	}
	h1, .faux-h1 {
	    font-size: 25px;
	    letter-spacing: 3px;
	}
	.bg_header .page_title {
		padding: 20px;
	}
	 body.woocommerce div.product form.cart .button,
	 .single-product .btn_abonner {
	 	float: none;
	 	width: 100%;
	 	margin-bottom: 15px;
	 	text-align: center;
	 }
	 body.woocommerce.single-product #single-meta {
	 	float: none;
	 
	 }
	  body.woocommerce.single-product  #single-meta ul {
	  	float: none;
	 	left: 50%;
	 	position: relative;
	 	transform: translate(-50%, 0);
	 	display: inline-block;
	  }
	  .pharmacien {
     	margin-left: 0;
     }



	/** footer **/
	#newsletter input[type='text'],
	#newsletter input[type='email']  {
	    width: 100%;
	    margin-right: 0;
	}

	/**** accueil ***/
	.banner_title {
	    top: 20px;
	}
	.banner_title h1 {
	    font-size: 25px;
	}

	.modules .one-module {
		width: 90%;
		margin-left: auto;
		margin-right: auto;

	}
	.modules .one-module .texte {
		font-size: 16px;
		height: auto !important;
	}
	.modules .one-module .savoir-plus {
		font-size: 16px;
		padding: 8px 5px 6px !important;
	}
	.banner-image.inscrivez-vous {
	    font-size: 25px;
	    height: 350px;
	}
	.banner-image.inscrivez-vous .main-content {
	    padding-top: 42px !important;
	    padding-bottom: 42px !important;
	}
	.banner-image {
		font-size: 20px;
	}

	/** a propos ***/
	.objectifs .objectif {
		width: 90%;
		border: 0 !important;
		height: auto !important;
	}
	.objectifs .objectif img {
	    margin-bottom: 23px;
	    height: 80px;
	}

	/**contact **/
	.contact_info .gform_body .half,
	#newsletter input[type='submit'] {
		width: 100%;
		margin-right: 0;
	}
	.coordonnees, .coordonnees a {
		font-size: 25px;
	}
	body .container-wrap input[type="text"], 
	body .container-wrap textarea, 
	body .container-wrap input[type="email"], 
	body .container-wrap input[type="password"], 
	body .container-wrap input[type="tel"], 
	body .container-wrap input[type="url"], 
	body .container-wrap input[type="search"], 
	body .container-wrap input[type="date"] {
		padding: 8px 16px !important;
	}
	.select-style {
		height: 40px;
	}
	.select-style select {
		padding: 8px 16px !important;
	}
	.select-style:after {
		top: 18px;
	}



	/**** les cours ****/

	html body.woocommerce ul.products li.product {
		width: 100%;
		max-width: 265px;
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important;
	}

	/***** un produit ****/
	.all-lessons .bundled_product_summary .bundled_product_images {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.all-lessons .bundled_product_summary {
		width: 100%;
		max-width: 280px;
		margin-left: auto !important;
		margin-right: auto !important;
		float: none;
	}
	.all-lessons .bundled_product_summary .details {
		width: 100%;
		float: none;
	}
	body.single-product div.product .product_title {
	    font-size: 30px;
	}
	.all-lessons .title {
		font-size: 18px;
	}
	body .bundled_product_summary .bundled_product_images a {
		margin-right: 0;
	}

	.single-product .btn_abonner {
		font-size: 16px !im
		;
	}

	body .wrap-register .form-row-first, 
	body .wrap-register .form-row-last {
		width: 100%;
		float: none;
	}
	.wrap-register form > p {
		margin-bottom: 15px;
	}



	/**** page details compte ***/
	
	.woocommerce form.woocommerce-EditAccountForm .form-row-first, 
	.woocommerce form.woocommerce-EditAccountForm .form-row-last {
		width: 100%;
		float: none;
	}
	body .container-wrap .woocommerce .woocommerce-EditAccountForm input[type='submit'] {
		padding: 10px 5px 7px !important;
		font-size: 16px !important;
		text-align: center;
		white-space: normal;
		width: 100%;
	}


	/**** page edit adresseb ****/
	.woocommerce-edit-address .woocommerce form .form-row-first, 
	.woocommerce-edit-address .woocommerce form .form-row-last {
		width: 100%;
		float: none;
	}
	body .select2-container .select2-choice {
		padding: 8px 16px !important;
	}
	body .container-wrap .woocommerce input[type='submit'] {
		padding: 13px 5px 10px !important;
		width: 100%;
	}



	/***** page panier ****/
	body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
		font-size: 16px !important;
	}
	body.woocommerce-cart .container-wrap .woocommerce input[type='submit'] {
		font-size: 16px !important;
	}

	body .cart_totals h2,
	body .cart-collaterals h2 {
	    font-size: 25px!important;
	    line-height: 1.4px!important;
	}


	/***** page commande ***/

	.woocommerce form .woocommerce-billing-fields .form-row-first, 
	.woocommerce form .woocommerce-billing-fields .form-row-last {
		width: 100%;
		float: none;
		clear: both;
	}
	.checkout .col2-set .col-2 {
		padding: 42px 20px; 
	}

}


